<div class="card">
  <div class="card-content">
    <h5>Completed Shifts</h5>

    <% if @shift_list.empty? %>
      <p>There are no pending or completed shifts.</p>
    <% else %>

      <table class="striped highlight">
        <thead>
          <th>Date</th>
          <th>Status</th>
          <th> Duration (H) </th>
          <th> View </th>

        </thead>
        <% for shift in @shift_list %>
          <tr %>
           
            <td><%= shift.date.strftime("%-m/%-d") %></td>
            <td><%= shift.status %></td>
            <td><%= shift.duration %></td>
            <td><div class="waves-effect waves-light btn">
            <%= link_to "View", shift_path(shift) %>
            </div> </td>
          </tr>
        <% end %>
      </table>
      <p class="supertiny"></p>
      <br />
      
    <% end %>
  </div>
</div>