
<div class="col s7">
<h4>Generate Payroll for <%= @store.name %></h4>
<p> *may take a moment to generate for periods longer than two weeks </p><br>



    <%= form_with url: new_payroll_calc_form_path, method: :post, local: true, class: "form-inline", id: "payroll_date" do %>
      
      <label>
        <input type="checkbox" class="filled-in"  value = "0" id="two_weeks" input name = "two_weeks" />&nbsp;&nbsp;&nbsp;&nbsp;
        <label for="two_weeks">Past Two Weeks</label>
      </label><br><br>

      <label>
      <input type="checkbox" class="filled-in"  value = "0" id="one_month" input name = "one_month" />&nbsp;&nbsp;&nbsp;&nbsp;
      <label for="one_month">Past Month</label>
    </label><br><br>

      <label> Custom Dates </label>

      <%= date_field_tag 'start_date', '', placeholder: "01/02/2000" %>
        <%= date_field_tag 'end_date', '', placeholder: "01/01/2000 " %>

        <input type="submit" value="Submit">
    <% end %>


</div>





