<h4>  Welcome <%=  current_user.proper_name %>! </h4>

<% if logged_in? &&  current_user.role?(:admin) || current_user.role?(:manager)  %>  
    <%= render :partial => "partials/title_with_search", locals: {title: "Employees at AMC"} %>
<% end %> 

<%= render partial: 'index_structure', locals: {model_name: 'home',
                                                         primary: 'store_admin', 
                                                         secondary: 'pay_grade_admin',
                                                         sidebar: 'missed_shift_sidebar'} %>