<div class="row">    
  <div id = "welcome_logo" ><%= image_tag 'truck1.png' , class: 'img_center'%></div>
     <div id = "welcome"> 
        <div id = "welcome_serving"> 
          <div id = "main_content">
                <h4> Contact Us </h4>
                <p>  We would love to be in contact with you! Stop by your local creamery, <br>
                give us an email or a call! Interested in a career opportunity? Leave us a note<br>
                in our e-mail to stay in the know! <br>
                </p></div><br>
                <div id = "contact-bul">
                  <ul>
                    <li><b>Email:</b> <%= mail_to("isabellafons@cmu.edu", "scoops@creamery.com", encode: "javascript") %></li>
                    <li><b>Phone:</b> 832-226-2429 </li>
                  </ul> 
                </div>  
        

            </div>
        </div>
</div>



