<div class="row">    
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <div id = "main_content">
          <div id = "welcome_serving">
            <h4> Privacy Policy </h4>
              
             <h6> Who we are </h6> 
              <p>This website is operated by A&M Creamery and Isabella Fons <br>
             for purposes of the 67-272 class at Carnegie Mellon. Our lawyers,,  are Elle Woods <br>
              and Emmett Forest.</p><br>
             <h6> Media </h6> 
              <p>You can take media from this website. I took pictures from the Millies <br>
             website and Van Leeuwen websites.</p> <br>
             <h6> Cookies </h6> 
              <p>We do not use cookies. Because this creamery is not<br>
              actually real. If we did though, we would use a lot of them.</p> <br>
              <h6> What we collect </h6> 
                <p>If we used cookies, which we do not, we would collect<br>
                data automatically provided such as IP address, date, time, etc. We also track information <br>
                provided such as information about employees and stores because why would we not? </p> <br>
              <h6> How long we retain your data </h6>
                <p> If you leave a commment or register information onto this website, at this <br>
                  point we retain your data forever and ever and your data is viewable to admin <br.
                </p><br><br>
              <h6> Where we send your data </h6>
                  <p> No where right now, but maybe to a data scientist in the future? </p><br><br>
              <h6> This concldues our,,,, extensive privacy policy. </h6>
              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
