<%= render partial: 'partials/index_structure_small', locals: {model_name: 'pay_grade', 
                                                         primary: 'active_pay_grades', 
                                                         secondary: 'inactive_pay_grades',
                                                         sidebar: nil} %>

<%= link_to "Add Pay Grade", new_pay_grade_path, class: 'waves-effect waves-light btn blue lighten-4' %> </div>